body{
    background-color: rgb(207, 207, 207);
    margin: 0px;

}
header{
    background: white;
    text-align: center;
    padding: 1cap;
}

.divpost{
    background: white;
    width: 50%;
    margin: auto;
    margin-top: 4cap;
    
    
}
.head{
    display: flex;
}
h2{
    width: 100%;
    padding-left: 1cap;
}


.photo img{
    border-top: 1px groove rgba(128, 128, 128, 0.253);
    border-bottom: 1px groove rgba(128, 128, 128, 0.253);

    width: 100%;
}
time{
    margin: auto;
    color: rgba(128, 128, 128, 0.685);
    padding: 1cap;
}
.comment p{
    padding: 1cap;
    margin: 0px;
}