body{
    background-color: rgb(207, 207, 207);
    margin: 0px;

}
h1{
    margin: auto;
    margin-top: 1cap;
   
}

header{
    background: white;
    height: 8cap;
    width: 100%;
    text-align: center;
    
}

.divpost{
    background: white;
    width: 50%;
    margin: auto;
    padding: 0%;
    margin-top: 4cap;
    margin-bottom: 4cap;
    
    
}
.head{
    display: flex;
    justify-content: right;
    margin: 0%
}
h2{
    width: 100%;
    padding-left: 1cap;
}

.photo img{
    border-top: 1px groove rgba(128, 128, 128, 0.253);
    border-bottom: 1px groove rgba(128, 128, 128, 0.253);

    width: 100%;
}
time{
    margin: auto;
    color: rgba(128, 128, 128, 0.685);
    padding-right: 1cap;
}
.comment{
    margin-left: 1cap;
    padding-bottom: 0.5cap;
}